

    <div class="card-header">
        <h3>Senwane Learners</h3>
    </div>
    <div class="card-body">
        <a routerLink="/registration"><button type="reset" class="btn btn-primary">Add a new grade 08 learner</button></a>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>No:</th>
                    <th>Name:</th>
                    <th>Surname:</th>
                    <th>Date of Birth:</th>
                    <th>Id Number</th>
                    <th>Home address</th>
                    <th>Criminal Record:</th>
                    <th>Gender:</th>
                    <th>Ethic:</th>
                    <th>Nationality:</th>
                    <th>Grade:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let grd of eight; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{grd.name}}</td>
                    <td>{{grd.surname}}</td>
                    <td>{{grd.dob}}</td>
                    <td>{{grd.id_number}}</td>
                    <td>{{grd.home_address}}</td>
                    <td>{{grd.criminal_record}}</td>
                    <td>{{grd.gender}}</td>
                    <td>{{grd.ethic}}</td>
                    <td>{{grd.nationality}}</td>
                    <td>{{grd.grade}}</td>
                </tr>
            </tbody>
        </table>
        <a routerLink="/home" class="btn btn-primary">Home</a>
    </div>
