
<div class="container">
    <div class="card-header"><h3>Registration for learners</h3></div> <br /> <br />
   <div class="card-body">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="eight.name" placeholder="Name">
    </div>
    <div class="mb-3">
        <label for="surname" class="form-label">Surname</label>
        <input type="text" class="form-control" name="surname" [(ngModel)]="eight.surname" id="surname" placeholder="Surname">
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" [(ngModel)]="eight.dob" placeholder="Date of Birth">
    </div>
    <div class="mb-3">
        <label for="id_number" class="form-label">Id Number</label>
        <input type="number" class="form-control" id="id_number" name="id_number" [(ngModel)]="eight.id_number" placeholder="Id Number">
    </div>
    <div class="mb-3">
        <label for="home_address" class="form-label">Home address</label>
        <input type="text" class="form-control" id="home_address" name="home_address" [(ngModel)]="eight.home_address" placeholder="1254 new street new section new york 0000">
    </div>
    <div class="mb-3">
        <label for="criminal_record" class="form-label">Criminal Record</label>
        <input type="text" class="form-control" id="criminal_record" name="criminal_record" [(ngModel)]="eight.criminal_record" placeholder="Criminal Record">
    </div>
    <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="eight.gender" placeholder="Gender">
    </div>
    <div class="mb-3">
        <label for="ethic" class="form-label">Ethic</label>
        <input type="text" class="form-control" id="ethic" name="ethic" [(ngModel)]="eight.ethic" placeholder="Ethic">
    </div>
    <div class="mb-3">
        <label for="nationality" class="form-label">Nationality</label>
        <input type="text" class="form-control" id="nationality" name="nationality" [(ngModel)]="eight.nationality" placeholder="Nationality">
    </div>
    <div class="mb-3">
        <label for="grade" class="form-label">Grade</label>
        <input type="text" class="form-control" id="grade" [(ngModel)]="eight.grade" placeholder="Your class grade">
    </div>
    <button type="submit" class="btn btn-primary" (click)="submittingData()">Submit</button>
   </div>
</div>